{% assign has_link = false %}
{% if block.settings.block_link != blank %}
  {% assign has_link = true %}
{% endif %}

{% assign class-type = '' %}
{% if block.settings.block_type == 'normal' %}
  {% assign class-type = 'normal-promo' %}
{% elsif block.settings.block_type == 'pink' %}
  {% assign class-type = 'pink-promo' %}
{% elsif block.settings.block_type == 'green' %}
  {% assign class-type = 'green-promo' %}
{% elsif block.settings.block_type == 'black' %}
  {% assign class-type = 'black-promo' %}
{% endif %}

{%- capture classes -%}
  promo-block
  promo-block--{{ block.id }}
  {{ additional_classes | strip_newlines }}
  {{ class-type }}
{%- endcapture -%}


<article
  class="{{ classes | replace: '  ', ' ' | strip_newlines }}"
  {{ block.shopify_attributes }}>
  <a
    class="promo-block--content {% unless has_link %}promo-block--unlinked{% endunless %}"
    {% if has_link %}href="{{ block.settings.block_link }}"{% endif %}
    data-promo-block-content>

    {% unless block.settings.title == blank %}
      <h2 class="promo-block--header">
        {{ block.settings.title | escape }}
      </h2>
    {% endunless %}

    {% unless block.settings.text == blank %}
      <p class="promo-block--text">
        {{ block.settings.text | escape | truncate: 120 }}
      </p>
    {% endunless %}

    {% unless block.settings.list_p1 == blank %}
      <ul class="promo-block--text">
        {% unless block.settings.list_p1 == blank %}
          <li class="list_{{ block.settings.block_type }}">{{ block.settings.list_p1 | escape }}</li>
        {% endunless %}
        {% unless block.settings.list_p2 == blank %}
          <li class="list_{{ block.settings.block_type }}">{{ block.settings.list_p2 | escape }}</li>
        {% endunless %}
        {% unless block.settings.list_p3 == blank %}
          <li class="list_{{ block.settings.block_type }}">{{ block.settings.list_p3 | escape }}</li>
        {% endunless %}
        {% unless block.settings.list_p4 == blank %}
          <li class="list_{{ block.settings.block_type }}">{{ block.settings.list_p4 | escape }}</li>
        {% endunless %}
      </ul>
    {% endunless %}

    {% unless block.settings.extra_link == blank  %}
      <p class="promo-block--text pink_link">
        {{ block.settings.extra_link | escape }}
      </p>
    {% endunless %}

    {% if block.settings.button_text != blank and block.settings.block_link != blank %}
      <span
        class="button-{{ block.settings.button_style }} promo-block--button">
        {{ block.settings.button_text | escape }}
      </span>
    {% endif %}

    <span class="promo-block--expander">
      {% include 'icon-chevron-down' %}
    </span>

    {% if block.settings.block_type == 'pink' %}
      <div class="promo-block--bottom-pink {{ block.settings.text_buendigkeit }}">
        {% unless block.settings.bottom_text == blank %}
          {{ block.settings.bottom_text | escape }}
        {% endunless %}
        {% unless block.settings.bottom_icon == "nuffin" %}
          <span class="promo-block--bottom-{{ block.settings.bottom_icon }}"></span>
        {% endunless %}
      </div>
    {% elsif block.settings.block_type == 'green' %}
      <div class="promo-block--bottom-green {{ block.settings.text_buendigkeit }}">
        {% unless block.settings.bottom_text == blank %}
          {{ block.settings.bottom_text | escape }}
        {% endunless %}
        {% unless block.settings.bottom_icon == "nuffin" %}
          <span class="promo-block--bottom-{{ block.settings.bottom_icon }}"></span>
        {% endunless %}
      </div>
    {% elsif block.settings.block_type == 'black' %}
      <div class="promo-block--bottom-black {{ block.settings.text_buendigkeit }}">
        {% unless block.settings.bottom_text == blank %}
          {{ block.settings.bottom_text | escape }}
        {% endunless %}
        {% unless block.settings.bottom_icon == "nuffin" %}
          <span class="promo-block--bottom-{{ block.settings.bottom_icon }}"></span>
        {% endunless %}
      </div>
    {% endif %}
  </a>
</article>
