<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-promo-mosaic">
</script>

<section class="promo-mosaic--container">
  {% if section.settings.title != blank %}
    <h1 class="home-section--title">
      {% if section.settings.title_icon_before != "nuffin" %}
        <span class="header-icon-{{ section.settings.title_icon_before }}"></span>
      {% endif %}

      {{ section.settings.title | escape }}

      {% if section.settings.title_icon_after != "nuffin" %}
        <span class="header-icon-{{ section.settings.title_icon_after }}"></span>
      {% endif %}
    </h1>
  {% endif %}

  <div class="home-section--content promo-mosaic--height-{{ section.settings.section_height }}">
    {% if section.blocks.size > 0 %}
      <div class="promo-mosaic--inner promo-mosaic--layout-{{ section.blocks.size }}">
        {% assign layout_name = 'promo-mosaic-' | append: section.blocks.size %}
        {% include layout_name %}
      </div>
    {% endif %}
  </div>

  {%
    include 'promo-block-background',
    blocks: section.blocks
  %}
</section>
{% schema %}
{
  "name": "Mosaic",
  "class": "promo-mosaic--section",
  "max_blocks": 5,
  "settings": [
    {
          "type":"select",
          "id": "title_icon_before",
          "label": "Icon before",
          "options": [
            {
              "value":"nuffin",
              "label":"None"
            },
            {
              "value":"smile_b",
              "label":"Smiley"
            },
            {
              "value":"truck_b",
              "label":"Delivery truck"
            },
            {
              "value":"shopping_b",
              "label":"Shopping cart"
            }
          ],
          "default":"nuffin"
        },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Mosaic"
    },
    {
          "type":"select",
          "id": "title_icon_after",
          "label": "Icon after",
          "options": [
            {
              "value":"nuffin",
              "label":"None"
            },
            {
              "value":"smile_b",
              "label":"Smiley"
            },
            {
              "value":"truck_b",
              "label":"Delivery truck"
            },
            {
              "value":"shopping_b",
              "label":"Shopping cart"
            }
          ],
          "default":"nuffin"
        },
    {
      "id": "section_height",
      "type": "select",
      "label": "Section height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Promotional item",
      "settings": [
        {
          "type":"select",
          "id": "block_type",
          "label": "Block Type",
          "options": [
            {
              "value":"normal",
              "label":"Normal"
            },
            {
              "value":"pink",
              "label":"Pink"
            },
            {
              "value":"green",
              "label":"Green"
            },
            {
              "value":"black",
              "label":"Black"
            }
          ],
          "default":"normal"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Mosaic"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Use this section to welcome customers to your store, say a bit about your brand, or share news.",
          "info": "Limited to 120 characters."
        },
        {
          "id": "list_p1",
          "label": "List P1",
          "type": "text"
        },
        {
          "id": "list_p2",
          "label": "List P2",
          "type": "text"
        },
        {
          "id": "list_p3",
          "label": "List P3",
          "type": "text"
        },
        {
          "id": "list_p4",
          "label": "List P4",
          "type": "text"
        },
        {
          "type": "text",
          "id": "extra_link",
          "label": "Extra Link"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#4d4d4d"
        },
        {
          "type": "url",
          "id": "block_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "bottom_text",
          "label": "Bottom text"
        },
        {
          "type":"select",
          "id": "bottom_icon",
          "label": "Icon",
          "options": [
            {
              "value":"nuffin",
              "label":"None"
            },
            {
              "value":"smile_w",
              "label":"Smiley"
            },
            {
              "value":"truck_w",
              "label":"Delivery truck"
            },
            {
              "value":"shopping_w",
              "label":"Shopping cart"
            }
          ],
          "default":"nuffin"
        },
        {
          "type":"select",
          "id": "text_buendigkeit",
          "label": "Text align",
          "options": [
            {
              "value":"text_left",
              "label":"Left"
            },
            {
              "value":"text_right",
              "label":"Right"
            },
            {
              "value":"text_center",
              "label":"Center"
            }
          ],
          "default":"text_left"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "id": "button_style",
          "type": "select",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mosaic",
      "category": "Image",
      "blocks": [
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        }
      ]
    }
  ]
}

{% endschema %}